<nav class="navbar">
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#"><small>New Folder</small></a>
    <a class="nav-link" href="#"><small>Upload Folder</small></a>
    <a class="nav-link" href="#"><small>Upload Files</small></a>
    <a class="nav-link" href="#"><small>Download Selected</small></a>
    <a class="nav-link" href="#"><small>Delete Selected</small></a>
    <a class="nav-link" href="#"><small>Move Selected</small></a>
    <a class="nav-link" href="#"><small>Copy Selected</small></a>
  </nav>
</nav>